rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'stocks' collection
    match /stocks/{document=**} {
      allow read, write: if true;
    }
    
    // Match any document in the 'expenses' collection
    match /expenses/{document=**} {
      allow read, write: if true;
    }
  }
}
